{{>layouts/header}}

<!-- new 템플릿 수정 해서 사용 -->
{{#article}}
<form class="container" action="/articles/update" method="post" accept-charset="UTF-8">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input class="form-control" name="title"   type="text" value="{{title}}">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control"  name="content" rows="3">{{content}}</textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    <a href="/articles/{{id}}">Back</a>
</form>
{{/article}}
{{>layouts/footer}}